@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Readex+Pro:wght@200;400;600&display=swap');

* {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	letter-spacing: 1.3;
}

h1 {
	font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[32px] md:text-[40px] lg:text-[54px];
}

h2 {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[24px] md:text-[28px] lg:text-[36px];
}

h3 {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[20px] md:text-[22px] lg:text-[24px];
}

h4 {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[16px] md:text-[18px] lg:text-[20px];
}

p {
	@apply text-[16px] md:text-[18px]
}

.p-lg {
	@apply text-[18px] md:text-[20px] lg:text-[24px];
}

.p-light {
	@apply text-[12px] md:text-[14px] lg:text-[16px];

	font-weight: 200;
}

strong {
		font-family: 'Readex Pro', sans-serif;

	font-weight: 600;
}

.light {
	font-weight: 200;

}

.button {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[18px] md:text-[20px] lg:text-[22px] text-white bg-black py-[12px] text-center w-[250px] rounded-xl block;
}

.button-full {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[18px] md:text-[20px] lg:text-[22px] text-white bg-black py-[12px] text-center w-[100%] rounded-xl block;
}

.button-outline {
		font-family: 'Readex Pro', sans-serif;
	font-weight: 400;
	@apply text-[18px] md:text-[20px] lg:text-[22px] text-black bg-white border-2 border-black py-[12px] text-center w-[250px] rounded-xl block;
}

.feature {
	@apply basis-full max-w-[350px] mx-auto text-center md:basis-[45%] lg:basis-[23%] py-[20px] lg:mb-[40px];
}

.padding {
	@apply px-[20px] py-[50px] md:py-[75px] lg:py-[100px];
}

.website {
	@apply bg-white rounded-xl block basis-full mb-[20px] lg:mb-[60px] max-w-[450px] mx-auto lg:mx-0 lg:basis-[30%] p-[20px];
}
